@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* { 
    margin:0; 
    padding:0;
    border:0;
 }

/* ----------xxx */

/* ----------Header */

.container {
    background-color: #86AF7F;
}

/* ----------Home Logo Link */

.leaf-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 15px;
    max-height: 75px;
}

/* ----------Header - Overrides */

/* ----------BS4 Navbar - Overrides */

.leaf-bg {
    background-color: #86AF7F;
}

.leaf-btn-outline {
    color: #86AF7F;
    background-color: transparent;
    background-image: none;
    border-color: #86AF7F;
}

/* ----------Sections */

/* ----------Footer */

/* ----------xxx */
